.Imagen {
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
}

.Imagen .nombre{
    padding: 5px;
    width: 80%;
    border-right: 1px solid lightgray;
}

.Imagen .nombre:hover{
    text-decoration: underline;
}

.Imagen .eliminar {
    width: 20%;
    padding: 5px;
    text-align: center;
}

.Imagen .eliminar:hover{
    background-color: red;
    color: white;
}