.NuevoPaciente{
    display: inline-grid;
    width: 30%;
}

.Input{
    margin-top: 15px;
    padding: 5px;
}

.Input label{
    float: left;
}

.Input input{
    width: 100%;
}

.Submit{
    margin: 15px 0;
}

.Submit input{
    width: 100%;
    padding: 5px;
}