.ListaPacientes{
    /* position: absolute; */
    z-index: 1;
    /* width: 30%; */
    background-color: white;
    /* left: 30%; */
}

.Paciente{
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
}

.Paciente:hover{
    background-color: lightgrey;
}
