.Tabla{
    margin: 5px;
}

.Tabla table{
    position: relative;
    width: 95% !important;
    left: 3%;
    border-collapse: collapse;
}

.Tabla thead{
    background-color: lightgrey;
}

.Tabla td{
    padding: 5px;
    border: 1px solid lightgrey;
}

.Descripcion{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    height: 10px;
    white-space: nowrap;
}

.Tabla tr:hover{
    background-color: #d3d3d357;
}

.VerDetalle{
    background-color: #d3f4ff;
    opacity: 0.7;
}

.VerDetalle:hover{
    opacity: 1;
}

